<h2> Crop Image </h2>

<%# TODO crop functionality not working at all!! But making it work will
give u some js practice :) %>

<%= image_tag @day.image.url(:large), :id => "cropbox" %>

<%= form_for @day do |f| %>

  <% ["x", "y", "w", "h"].each do |dimension| %>

    <%= f.text_field  "crop_#{dimension}" %><br>
  <% end %>

  <%= f.submit "Crop" %>
<% end %>
