<form action="/songs" method="POST">

  New Song: <br>
  <label for="song_name">Name</label>
  <input type="text" name="song[name]" id="song_name"> <br><br>

  Enter artist: <br>
  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist[name]" id="artist_name"><br><br>

  Check genres: <br>

  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>


  <input type="submit" value="Create">

</form>
