.tweet {
  border-bottom: 1px solid #e6ecf0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 236, 240);
  min-height: 51px;
  padding: 9px 12px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
}

.tweet .content {

}
